@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400&display=swap');
:root {
	--teal: #00b5af;
	--primary: #00b5af;
	--pink: #ef3d74;
	--gold: #f99e13;
	--dark: #212529;
	--text: #212529;
	--dark-grey: #404041;
	--medium-grey: #777777;
	--light-grey: #e6e7e8;
	--grey-10: #f4f6f8;
	--primary-text: #ffffff;
	--semi-transparent: #ffffffc0;
}

body,
html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: var(--text);
}

h1,
h2,
h3,
strong,
b,
.bold .user-location-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: var(--text);
}

h1 {
	font-weight: 900;
}

.floating-action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	/*color: var(--primary);*/
	color: var(--dark-grey);
	background-color: var(--grey-10);
	border: 1px solid var(--grey-10);
	box-shadow: 0 1px 4px rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
}
.btn {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
}

#controls {
	background-color: var(--semi-transparent);
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0.5rem;
	box-shadow: 0 1px 4px rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

#gotoMyLocation {
	right: 16px;
	top: -66px;
}

#resetMap {
	font-size: 12px;
	right: 16px;
	top: -132px;
}

#focusItemInfo {
	border-bottom: 1px solid var(--light-grey);
	display: flex;
	flex-direction: column;
}

#focusItemInfoHandle {
	background-color: var(--light-grey);
	border-radius: 2px;
	height: 4px;
	width: 10%;
}

#focusItemPanel {
	/*
	height: 200px;
	min-height: 200px;
	*/
	transition: height 0.15s ease-out;
	position: relative;
	box-shadow: 0 -1px 4px rgba(60, 64, 67, 0.3);
}

#focusItemPanelHorizontalBtnContainer {
	position: relative;
	overflow-x: scroll;
}

#focusItemPanelHorizontalBtnContainer > div:first-child {
	z-index: -100;
	visibility: hidden;
	pointer-events: none;
	padding: 1rem;
}

#focusItemPanelHorizontalBtns {
	position: absolute;
	top: 0px;
	display: flex;
	padding: 1rem;
}

#focusItemPanelHorizontalBtns button {
	white-space: nowrap;
	margin-right: 0.5rem;
}

#focusItemPanel.maximizing {
	height: 100vh;
}

#minorLoader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff50;
	z-index: 90001;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#minorLoader > .spinner-border {
	border: 0.25em solid #00b5af80;
	border-right-color: transparent;
}

#storeLocator {
	width: 100vw;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.loading-container {
	background-color: transparent;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #00b5af40;
	backdrop-filter: blur(5px);
	z-index: 1100;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loading-svg-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-text {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #49494a;
	font-size: 25px;
	width: 150px;
}

.loading-text:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 1500ms infinite;
	animation: ellipsis steps(4, end) 1500ms infinite;
	content: '\2026';
	/* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

#searchTab > li {
	flex-grow: 1;
	flex-basis: 0;
}

#searchTab > li button {
	width: 100%;
}

.spikeRollLoader {
	position: relative;
	width: 85px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: linear-gradient(#00b5af 50px, transparent 0), linear-gradient(#ef3d74 50px, transparent 0), linear-gradient(#f99e13 50px, transparent 0), linear-gradient(#f99e13 50px, transparent 0), linear-gradient(#ef3d74 50px, transparent 0), linear-gradient(#00b5af 50px, transparent 0);
	background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
	animation: rikSpikeRoll 0.65s linear infinite alternate;
	z-index: 9999;
}

@keyframes rikSpikeRoll {
	0% {
		background-size: 10px 3px;
	}

	16% {
		background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
	}

	33% {
		background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
	}

	50% {
		background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px;
	}

	66% {
		background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px;
	}

	83% {
		background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px;
	}

	100% {
		background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px;
	}
}

.position-relative {
	position: relative !important;
}

#precinctSearchResults {
	position: absolute;
	width: 100%;
}

#showNearbyPrecincts:not(:checked) ~ label:before {
	content: 'Show';
}

#showNearbyPrecincts:checked ~ label:before {
	content: 'Hide';
}

#showAllPrecincts:checked ~ label:before {
	content: 'Hide';
}

#showAllPrecincts:not(:checked) ~ label:before,
#showAllPrecincts ~ label:before {
	content: 'Show';
}

